/* Custom properties */
/*
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
*/
:root {
  /* fonts */
  --ff-body: 'Montserrat', sans-serif;
  --ff-heading: 'Fraunces', serif;
  /* font sizes */
  --fs-700: 2rem;
  --fs-300: 0.875rem;
  --fs-200: 0.825rem;
  --fs-100: 0.75rem;
  /* font weights */
  --fw-700: 700;
  --fw-500: 500;
  /* colors */
  --clr-primary-dark: hsla(157, 36%, 37%, 1);
  --clr-primary-xtra-dark: hsla(157, 43%, 18%, 1);
  --clr-primary-light: 30 38% 92%;
  --clr-accent-gunmetal: hsla(212, 21%, 14%, 1);
  --clr-accent-aurometal: hsla(228, 12%, 48%, 1);
  --clr-white: #ffffff;
 
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* Body styles for component demo purposes */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2EAE2;
}

.card {
  flex-direction: column;
  font-family: var(--ff-body);
  color: var(--clr-accent-aurometal);
  background: var(--clr-white);
  border-radius: 10px;

  max-width: 500px;
}

.card-image {
  min-height: 240px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Card content styles */
.card-content {
  padding: 1.5em;
  flex-direction: column;
}

.card-category {
  font-size: var(--fs-100);
  line-height: 1.1;
  letter-spacing: 5px;
  margin-bottom: 12px;
}

.card-title {
  font-family: var(--ff-heading);
  font-size: var(--fs-700);
  font-size: var(--fs-700);
  font-weight: var(--fw-700);
  line-height: 1;
  color: var(--clr-accent-gunmetal);
  margin-bottom: 16px;
}

.card-description {
  font-size: var(--fs-300);
  line-height: 1.6;
  margin-bottom: 24px;
}

.price-container {
  align-items: center;
  margin-bottom: 20px;
}

.discounted-price {
  font-family: var(--ff-heading);
  font-size: var(--fs-700);
  font-weight: var(--fw-500);
  line-height: 1;
  color: var(--clr-primary-dark);
}

.price {
  margin-left: 1.125em;
  font-size: var(--fs-200);
  text-decoration: line-through;
  color: var(--clr-accent-aurometal);
}



.button {
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  cursor: pointer;
  font-family: inherit;
  line-height: 1.1;
  color: var(--clr-white);
  background: var(--clr-primary-dark);
  border: none;
  border-radius: 8px;
}

.button:hover,
.button:active {
  background: var(--clr-primary-xtra-dark);
}

.cart-icon {
  margin-right: 11px;
}

/* Utility classes */

.container {
  padding: 0 1em;
}

.flex {
  display: flex;
}

.uppercase {
  text-transform: uppercase;
}

@media (min-width: 768px) {

  .card {
    flex-direction: row;
    max-width: 600px;
  }

  .card-picture,
  .card-content {
    flex-basis: 50%;
  }

  .card-image {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }

  .card-content {
    padding: 2em;
    justify-content: space-between;
  }
  
}